header {
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

header nav img {
  width: 100px;
  cursor: pointer;
}

header div img {
  width: 40px;
  border-radius: 100%;
  cursor: pointer;
}

form {
  display: flex;
  align-items: center;
}

form input {
  width: 500px;
  height: 40px;
  border-radius: 20px 0px 0px 20px;
  padding: 5px;
  border: 1px solid grey;
}

form button {
  height: 40px;
  width: 70px;
  border-radius: 0px 20px 20px 0px;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  border: 1px solid grey;
}

form button:hover {
  background-color: var(--hover-color);
}