.text-center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 20px;
}

.info-canal {
  display: flex;
  justify-content: space-between;
  padding: 1em 0 1em 0;
  overflow: hidden;
  flex-wrap: nowrap;
  gap: 10px;
}

.info-video {
  padding: 10px;
}

.descripcion-video {
  background-color: var(--third-color);
  border-radius: 10px;
  padding: 1em;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.info-miniatura {
  display: flex;
  flex-direction: column;
}

.info-userC-container {
  display: flex;
}

.comment-container {
  display: flex;
  align-items: center;
}

.comment-container div {
  padding: .5em;
}

.extra { 
  display: none;
}



